<ion-button (keydown.enter)="presentSingleStatusModal()" (click)="presentSingleStatusModal()"
  shape="round">
  @switch (sumState) {
    @case ("UNDEFINED") {
      <ion-icon color="warning" name="oe-info"
        style="font-size: 1.438rem;"
        size="medium"></ion-icon>
    }
    @case ("OK") {
      <ion-icon color="success"
        style="font-size: 1.438rem;"
        name="oe-checkmark"></ion-icon>
    }
    @case ("INFO") {
      <ion-icon color="success"
        style="font-size: 1.438rem;"
        [name]="edge.roleIsAtLeast('admin') ? 'oe-info' : 'oe-checkmark'" size="medium"></ion-icon>
    }
    @case ("WARNING") {
      <ion-icon color="warning" name="oe-warning"
        style="font-size: 1.438rem;"></ion-icon>
    }
    @case ("FAULT") {
      <ion-icon color="danger" name="oe-error"
        style="font-size: 1.438rem;"></ion-icon>
    }
  }
</ion-button>
