<ion-header>
  <ion-toolbar class="ion-justify-content-center"
    style="--background: var(--ion-color-toolbar-primary); color: var(--ion-title-color);">
    <ion-title translate>GENERAL.SYSTEM_STATE</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close" style="color: var(--ion-title-color);"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
@if (edge && stateCategories !== null) {
  @if (edge.currentData | async; as currentData) {
    <ion-content>
      <ion-card-content>
        @if (stateCategories.length === 0) {
          <ion-list>
            <ion-item lines="none">
              <ion-icon color="success" name="oe-checkmark"></ion-icon>
              <ion-label class="ion-padding-start" translate>GENERAL.ALL_COMPONENTS_OK</ion-label>
            </ion-item>
          </ion-list>
        }
        <ion-list>
          @for (category of stateCategories; track category.label) {
            <ion-item lines="none" [class.ion-padding-top]="!$first">
              <ion-icon [color]="category.color" [name]="category.icon" slot="start"></ion-icon>
              <ion-label>{{ category.components.length }} {{ category.label | translate }}</ion-label>
            </ion-item>
            @for (item of category.components; track item) {
              <ion-item lines="inset">
                <ion-label class="ion-text-wrap">
                  <ion-text color="primary">
                    <h3>{{ item.alias }}
                      @if (item.id !== item.alias) {
                        <span> {{ item.id }}</span>
                      }
                      @if (!item.isEnabled) {
                        <small> (<span translate>GENERAL.COMPONENT_INACTIVE</span>) </small>
                      }
                    </h3>
                  </ion-text>
                  @if (config.factories[item.factoryId]; as factory) {
                    <p class="custom-channels-text">{{ factory.name }}</p>
                  }
                  @if (item['showProperties']) {
                    @for (entry of channels[item.id] | keyvalue; track entry.key) {
                      @if (currentData.channel[item.id + '/' + entry.key] === 1) {
                        <ion-label class="ion-text-wrap">
                          @switch (entry.value.level) {
                            @case ('INFO') {
                              <ion-text color="success" translate>GENERAL.INFO&nbsp;</ion-text>
                            }
                            @case ('WARNING') {
                              <ion-text color="warning" translate>GENERAL.WARNING&nbsp;</ion-text>
                            }
                            @case ('FAULT') {
                              <ion-text color="danger" translate>GENERAL.FAULT&nbsp;</ion-text>
                            }
                          }
                          @if (entry.value.text.length > 0) {
                            <ion-text>{{ entry.value.text }}</ion-text>
                          } @else {
                            {{ entry.key }}
                          }
                        </ion-label>
                      }
                    }
                  }
                </ion-label>
                @if ((currentData.channel[item.id+'/State'] ?? -1) > 0 && !item['showProperties']) {
                  <ion-icon style="cursor: pointer" name="arrow-down-circle-outline" color="primary"
                    (click)="item['showProperties'] = !item['showProperties']; subscribeInfoChannels(item)">
                  </ion-icon>
                }
                @if (item['showProperties']) {
                  <ion-icon style="cursor: pointer" name="arrow-up-circle-outline" color="primary"
                    (click)="item['showProperties'] = !item['showProperties']; unsubscribeInfoChannels(item)">
                  </ion-icon>
                }
              </ion-item>
            }
          }
        </ion-list>
      </ion-card-content>
    </ion-content>
  }
}

