<div style="display: flex; align-items: center; gap: 8px; width: 100%; margin-bottom: 12px">
  <svg style="flex: 1;" height="16">
    <rect width="100%" rx="4" ry="4" height="16" style="fill:var(--ion-background-percentagebar-color)" />
    @if (displayPercent) {
      <rect x="0" y="0" height="16" rx="4" ry="4"
        style="fill:var(--ion-color-active-percentagebar)"
        [style]="'width: calc(' + displayPercent + '%); transition: width 0.5s ease-in-out;'" />
      <rect y="0" height="16"
        style="fill:var(--ion-color-active-percentagebar)"
        [style]="'x: 4px; width: calc(' + displayPercent + '% - 4px); transition: width 0.5s ease-in-out;'" />
    }
    <ng-content></ng-content>
  </svg>
  <span style=" white-space: nowrap; color: var(--ion-color-dark)">
    {{ displayPercent | unitvalue: '%' }}
  </span>
</div>
